<!DOCTYPE html>
<html>
<head>
  <title>Boots</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>

<body>
	<div class="container">
		<div class="row">
			<div class="cal-sm-4">
		    </div>

			<div class="cal-sm-4">

				<%= yield %>

		    </div>

			<div class="cal-sm-4">
		    </div>


		 </div>

    </div>
</body>
</html>
