<h1>Welcome#sample</h1>
<p>Find me in app/views/welcome/sample.html.erb</p>


<%# Comment %>

<%= "Using sample index via view/welcome" %>
</br>
</br>
<%= "Message from controller : 
#{@controller_message}" %>
</br>
</br>
<%= link_to("Go to index", {:controller => 'welcome',
	:action => 'index'}) %>


